@import url('https://fonts.googleapis.com/css?family=Cairo');
#text1{
    margin-top: 10%;
    top: 20%;
    font-weight: 100;
    text-indent: 35px;
    font-family: 'Montserrat';
    border-bottom:1px solid rgb(148, 143, 143);
  
  }
p{
    font-size: 14px;
    font-family: 'Cairo';
    text-align: justify;
  }
  #br{
    margin-top: 30px;
  }
