<ion-content color="secondary">
    <button routerLink="/tabs/tab5">CLOSE</button>
  <div id="txt1"><p>CRYPTONEWS PRO PREMIUM</p></div>
  <ion-slides pager id="slcs">
      <ion-slide><ion-card><img src="assets/123.png" height="30px" width="3Opx"></ion-card></ion-slide>
      <ion-slide><ion-card><img src="assets/124.png" height="4px" width="4px"></ion-card></ion-slide>
      <ion-slide><ion-card><img src="assets/125.png" height="-30px" width="-30px"></ion-card></ion-slide>
  </ion-slides>
  <button id="buy" (click)="Essayez()">Essayez Maintenant</button>
  <div id="text6"><pre>Try 7 days for free, Then $10/mois</pre></div>
  <div id="text7"><pre>   after 7 day free trial, subscription renews for $10 a mounth,
      unless turned off in account settings at least 78 hours before
      of current period .unused portion of free trial is forfeited 
      after payement,you agree to Terms of <a>services</a>.
  </pre></div>
</ion-content>