<ion-content color="secondary"> 
<div id="text1">
<h1>Beinvenue dans </h1>
</div> 
<div id="text2"><b><h1>CRYPTONEWS</h1></b></div>  
<div id="text3"><b><h3>COMMENT UTILISER</h3></b></div> 
<div id="text4"><pre>L'app est simple à apprendre, tout ce qui possède une 
     couleur distincte est interactif .
 </pre></div>
 <div id="text5"><pre>S'il vous plaît activer les notifications.Celles-ci sont 
     obligatoires pour les alertes des nouvelles et 
     les mises à jour.
    </pre></div> 
    <div id="ico">
        <img src="/assets/magnet.svg" width="70px" height="70px">
    </div>   
            <button (click)="Open()">Continuer</button>
            <div id="text6"><pre>By tapping continue, you agree to our termes of <a>service</a></pre>
            </div>
</ion-content>